# A basic model to try and predict the Total Return of Eligible Stocks:
### Predicts the P/E multiple and hence the forecast price -> total return of a group of stocks

## Set-Up

### Import Packages

In [243]:
import os
import numpy as np
import pandas as pd
from scipy.optimize import root
import matplotlib.pyplot as plt

### Set Starting Parameters

In [244]:
R = 0.055
b = 1/(1+R)
maturity_g = 0.073
time_frame = 10
start_earnings = 10
__file__ = "NB04_Total_Return_Predictor.ipynb"
current_dir = os.path.dirname(os.path.abspath(__file__))

## Import the Bloomberg data from Excel

### Read In The Data

In [245]:
asset_df = pd.read_excel(os.path.join(current_dir, "../../data/Bloomberg_Rankings.xlsx"), sheet_name = "Mid Cap and Above")

### Inspect the Data

In [246]:
asset_df.head(8)

,ID,Name,Last Price,6Y Total Return%,6Y Annualised Return,EPS,FCFPS,FCF Yield,EPS Growth,5 YR EPS Growth,5 YR Forecast EPS Growth,Multiple,Earnings Yield,EPS 5 Years Forecast,5Y Forecast Earnings Yield,1Y Expected TR (No Change in Multiple),5Y Expected Annualised TR (No Change in Multiple)
0,IHC UH Equity,International Holding Co PJSC,410.000000,300.470588,1.589450,13.526731,4.789175,1.168091e-02,88.549203,336.721739,336.721739,43.264225,0.023114,21489.034753,52.412280,3.468160,4.891563
1,QNBFB TI Equity,QNB Finansbank AS,328.750000,72.222393,1.045380,10.867053,NaN,NaN,69.538759,92.741867,92.741867,30.251914,0.033056,289.062723,0.879278,0.991131,1.212056
2,ADANIGR IN Equity,Adani Green Energy Ltd,2038.000000,63.698413,1.003621,6.944302,-74.834324,-3.671949e-02,12.776022,NaN,NaN,231.698702,0.004316,NaN,NaN,NaN,NaN
3,ADANI IN Equity,Adani Power Ltd,874.500000,46.398374,0.902365,54.003407,45.250976,5.174497e-02,94.187008,NaN,NaN,16.277971,0.061433,NaN,NaN,NaN,NaN
4,ADE IN Equity,Adani Enterprises Ltd,3645.250000,43.643866,0.883477,28.427895,-131.325263,-3.602641e-02,30.473393,52.594889,52.594889,137.441817,0.007276,235.203967,0.064523,0.537051,0.662944
5,SMCI US Equity,Super Micro Computer Inc,762.490723,30.004074,0.772433,19.230000,-33.824639,-4.436072e-02,72.776280,80.841010,80.841010,42.665360,0.023438,371.932307,0.487786,0.850796,1.045355
6,BYAN IJ Equity,Bayan Resources Tbk PT,18000.000000,22.218526,0.689037,0.034590,0.017968,9.982250e-07,-46.202778,63.130366,63.130366,32.120832,0.031132,0.399599,0.000022,0.682090,0.810109
7,6920 JP Equity,Lasertec Corp,40100.000000,21.450892,0.679599,742.560000,321.568675,8.019169e-03,105.626938,71.924868,71.924868,54.047060,0.018502,11153.856393,0.278151,0.751059,0.923087

### Drop the rows where "5Y Forecast EPS Growth" is Null
- We need this for our prediction of the P/E multiple, and then the EPS with which we multiply that multiple by to get the future price. 
- The current rudimentary form of predicting the multiple assumes that investors presume that EPS growth continues at the current rate for a certain set of years and then trails back down to a maturity growth rate. Investors purchase up until the point at which the multiple that they have priced in yields them the minimum expected rate of return, `R`, that they will take.
- I.e., the multiple today depends on the price and hence multiple tomorrow and so on so forth in a geometric series.
- Investors could calculate this `R` in any way, whether it be the CAPM or the Fama-French Three-Factor or another model to identify the best hurdle rate/ cost of equity capital they shoud take

In [247]:
asset_df = asset_df.dropna(subset=['5 YR Forecast EPS Growth'])
# Inspect the column (These figures will be in percentage, not proportion scale)
asset_df["5 YR Forecast EPS Growth"]

0       336.721739
1        92.741867
4        52.594889
5        80.841010
6        63.130366
           ...
1033     12.294384
1039    -10.572361
1042      8.237525
1045     57.864844
1047     25.676972
Name: 5 YR Forecast EPS Growth, Length: 709, dtype: float64

In [248]:

def predict_multiple(growth, t): 
    growth = min([growth/100,0.30])
    maturity_g = 0.065 + 0.1*(growth - 0.065)
    k_vec_m = 1 + maturity_g
    maturity_multiple = (k_vec_m*b*(1-(k_vec_m*b)**18)/(1-b*k_vec_m))
    maturity_multiple   
    b_vec = [b] * t
    k_vec = [1 + growth] * t
    b_vec = np.cumprod(b_vec)[:t]
    k_vec = np.cumprod(k_vec)[:t]
   
    return sum(k_vec*b_vec) + maturity_multiple*b_vec[-1]*k_vec[-1]


predict_multiple(341.92,5)

np.float64(79.49405534513394)

In [249]:
asset_df["5Y Multiple"] = asset_df["5 YR Forecast EPS Growth"].apply(lambda x: predict_multiple(x, 5))

In [250]:
def predict_roi(growth, multiple, fut_multiple, n = 6, payout_rate = 1): 
    growth = min([growth/100,0.30])
    fut_price_to_curr_price = ((1+growth)**n)*(fut_multiple/multiple)
    growth_vec = [1+ growth] * n
    cum_growth_vec = np.cumprod(growth_vec)
    cum_income_to_curr_price = (1/multiple)*(np.sum(cum_growth_vec))
    pr = fut_price_to_curr_price
    ir = float(cum_income_to_curr_price)
    tr = pr + ir
    return float(tr**(1/n) - 1)
predict_roi(60, 20, 20)

0.3348043267566898

## Predict the ROI Corresponding to this

In [251]:

asset_df["5Y Expected Annualised TR (Change in Multiple)"] = [predict_roi(asset_df["5 YR Forecast EPS Growth"][i], asset_df["Multiple"][i], asset_df["5Y Multiple"][i]) for i in asset_df.index]

In [252]:
asset_df.head()

,ID,Name,Last Price,6Y Total Return%,6Y Annualised Return,EPS,FCFPS,FCF Yield,EPS Growth,5 YR EPS Growth,5 YR Forecast EPS Growth,Multiple,Earnings Yield,EPS 5 Years Forecast,5Y Forecast Earnings Yield,1Y Expected TR (No Change in Multiple),5Y Expected Annualised TR (No Change in Multiple),5Y Multiple,5Y Expected Annualised TR (Change in Multiple)
0,IHC UH Equity,International Holding Co PJSC,410.000000,300.470588,1.589450,13.526731,4.789175,1.168091e-02,88.549203,336.721739,336.721739,43.264225,0.023114,21489.034753,52.412280,3.468160,4.891563,79.494055,0.448906
1,QNBFB TI Equity,QNB Finansbank AS,328.750000,72.222393,1.045380,10.867053,NaN,NaN,69.538759,92.741867,92.741867,30.251914,0.033056,289.062723,0.879278,0.991131,1.212056,79.494055,0.537929
4,ADE IN Equity,Adani Enterprises Ltd,3645.250000,43.643866,0.883477,28.427895,-131.325263,-3.602641e-02,30.473393,52.594889,52.594889,137.441817,0.007276,235.203967,0.064523,0.537051,0.662944,79.494055,0.195020
5,SMCI US Equity,Super Micro Computer Inc,762.490723,30.004074,0.772433,19.230000,-33.824639,-4.436072e-02,72.776280,80.841010,80.841010,42.665360,0.023438,371.932307,0.487786,0.850796,1.045355,79.494055,0.452276
6,BYAN IJ Equity,Bayan Resources Tbk PT,18000.000000,22.218526,0.689037,0.034590,0.017968,9.982250e-07,-46.202778,63.130366,63.130366,32.120832,0.031132,0.399599,0.000022,0.682090,0.810109,79.494055,0.522640

In [253]:
asset_df.to_excel(os.path.join(current_dir,"../../data/Top_Stocks.xlsx"))

## Re-do with more complicated bloomberg data

### Import the data

#### Snapshot Data

In [254]:
df = pd.read_excel(os.path.join(current_dir, "../../data/bloomberg_data.xlsx"))

#### Historic Data

In [255]:
df_2 = pd.read_excel(os.path.join(current_dir, "../../data/bloomberg_data.xlsx"))

### Rename Some of the columns

In [256]:
df.rename(columns = {'Unnamed: 0': 'security_key'}, inplace = True)
df_2.rename(columns = {'Unnamed: 0': 'security_key'}, inplace = True)

In [257]:
df_3 = pd.merge(df, df_2, on = "security_key")

### Take a deeper look at some of the columns, especially annualised performance over the last 5 years

In [258]:
pd.set_option('display.max_columns', None)
df.sort_values(by = "current_ann_trr_5yr", ascending = False)

,security_key,security_name,px_last,current_trr_ytd,cur_mkt_cap,current_trr_ytd_1,current_ann_trr_3yr,current_ann_trr_5yr,month_end_trr_10yr,minimum_total_return,hist_trr_prev_1yr,current_trr_mtd,eps_growth,geo_grow_diluted_eps_cont_ops,diluted_eps_cont_ops_5yr_avg_gr,5y_geo_growth_diluted_eps,earn_yld,pe_ratio,five_yr_avg_price_earnings,long_term_price_earnings_ratio,best_pe_ratio,pr_eps_growth_plus_yld
182,IHC UH Equity,International Holding Co PJSC,414.500,3.754693,9.092223e+11,3.754693,48.553680,209.09870,79.483020,NaN,-2.560967,1.593137,84.368610,196.464049,280.792101,215.717287,3.263385,30.643028,34.160428,NaN,NaN,NaN
240,NVDA US Equity,NVIDIA Corp,125.830,154.121900,3.095418e+12,154.121900,84.915230,100.09750,75.716730,NaN,239.019100,1.853651,584.659091,51.441971,168.466403,48.401189,1.364966,73.261887,61.097322,366.074157,43.136784,42.817484
309,TSLA US Equity,Tesla Inc,251.520,1.223442,8.021466e+11,1.223442,4.942127,74.82077,28.611223,NaN,101.721000,27.107340,17.661692,NaN,NaN,NaN,0.883704,113.160080,NaN,405.377228,94.449869,NaN
203,LLY US Equity,Eli Lilly & Co,914.570,57.423540,8.692123e+11,57.423540,58.498100,54.49960,33.149180,NaN,60.905030,1.015044,-16.017316,13.459286,22.494442,13.129725,1.133808,88.198379,38.449955,135.566601,62.526150,40.544444
199,KLAC US Equity,KLA Corp,855.210,47.740160,1.151454e+11,47.740160,42.903900,50.77105,33.369447,NaN,56.029640,3.723425,10.013593,25.827603,25.775781,36.480119,2.637979,37.907804,17.870855,62.973129,31.722616,9.645935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,P911 GR Equity,Dr Ing hc F Porsche AG,71.320,-7.935353,6.497252e+10,-7.935353,NaN,NaN,NaN,NaN,-14.915430,2.589187,4.044118,NaN,NaN,NaN,7.182267,13.923180,NaN,NaN,12.298672,6.568923
255,PLTR US Equity,Palantir Technologies Inc,27.230,58.590560,6.063839e+10,58.590560,5.661175,NaN,NaN,NaN,167.445400,7.500986,NaN,NaN,NaN,NaN,0.461469,216.699291,NaN,NaN,79.619883,NaN
258,PRX NA Equity,Prosus NV,32.835,21.678700,8.467185e+10,21.678700,-2.140393,NaN,NaN,NaN,-8.503771,-1.277809,62.145326,10.844301,75.982422,20.394921,7.447539,13.427254,18.448145,NaN,11.597772,46.123187
272,ROSN RM Equity,Rosneft Oil Co PJSC,556.150,NaN,5.894177e+12,NaN,NaN,NaN,14.568560,NaN,79.459110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.225822,NaN,NaN
280,SBER RM Equity,Sberbank of Russia PJSC,313.500,NaN,6.767508e+12,NaN,NaN,NaN,19.087700,NaN,114.086700,NaN,246.924885,12.248339,NaN,12.596420,22.606001,4.423604,6.049010,6.381916,NaN,NaN

### Fill in blanks for 5 year geometric average earnings growth to get return calc

In [259]:
def clean_and_fill(df):
    """
    Remove rows with NaN values across all specified columns, and fill NaNs in the 
    '5y_geo_growth_diluted_eps' column with the first available non-null value from other columns.

    Parameters:
    - df (DataFrame): The DataFrame to process.

    Returns:
    - DataFrame: The processed DataFrame.
    """
    # Define the columns to check for NaN values
    columns_to_check = [
        'eps_growth', 
        'geo_grow_diluted_eps_cont_ops', 
        'diluted_eps_cont_ops_5yr_avg_gr', 
        '5y_geo_growth_diluted_eps'
    ]
    
    # Drop rows where all specified columns are NaN and create a copy
    df_cleaned = df.dropna(subset=columns_to_check, how='all').copy()
    
    # Fill NaNs in '5y_geo_growth_diluted_eps' with the first available non-null value
    df_cleaned['5y_geo_growth_diluted_eps'] = df_cleaned['5y_geo_growth_diluted_eps'].fillna(
        df_cleaned['diluted_eps_cont_ops_5yr_avg_gr']
    ).fillna(
        df_cleaned['geo_grow_diluted_eps_cont_ops']
    ).fillna(
        df_cleaned['eps_growth']
    )
    
    # Merge the cleaned '5y_geo_growth_diluted_eps' back into the original df
    df_merged = df.merge(
        df_cleaned[['5y_geo_growth_diluted_eps']], 
        left_index=True, 
        right_index=True, 
        how='left', 
        suffixes=('', '_filled')
    )
    
    # Use the filled values to update the original column
    df_merged['5y_geo_growth_diluted_eps'] = df_merged['5y_geo_growth_diluted_eps_filled']

    # Drop the extra column after merging
    df_merged.drop(columns=['5y_geo_growth_diluted_eps_filled'], inplace=True)

    return df_merged

df = clean_and_fill(df)

### Use the multiple predictor forecast total returns and later rank by forecast total returns

In [260]:
def gen_returns(df, decr = 0.7, factor = 0.5):
    df["exp_geo_growth_diluted_eps"] = decr*df["5y_geo_growth_diluted_eps"]
    df["exp_pe_ratio"] = df["exp_geo_growth_diluted_eps"].apply(lambda x: predict_multiple(x, 5))
    df["exp_pe_ratio_lb"] = [max([elem, 8]) for elem in factor*df["pe_ratio"]]
    df["exp_ann_trr"] = [predict_roi(df["exp_geo_growth_diluted_eps"][i], df["pe_ratio"][i], df["exp_pe_ratio"][i]) for i in df.index]
    df["exp_ann_trr"] = df["exp_ann_trr"].fillna(decr*df["current_ann_trr_5yr"]/100)
    df["exp_ann_trr_lb"] = [predict_roi(df["exp_geo_growth_diluted_eps"][i], df["pe_ratio"][i], df["exp_pe_ratio_lb"][i]) for i in df.index]
    df["exp_ann_trr_lb"] = df["exp_ann_trr_lb"].fillna(decr*factor*df["current_ann_trr_5yr"]/100)
    return df
df = gen_returns(df)

### Define a function to apply some exclusion criteria
* Get rid of any stocks that were in the bottom 30% of performers in the 1yr, 3yr and 5yr annualised TR
* Get rid of any stocks with EPS growth in the last year, geometrically over 5 years or average over 5 years in the bottom 20 % of performers

In [262]:
def exclude(df, tr_floor=0.08, eps_g_floor=0.10, tr_pctl_floor=20, eps_g_pctl_floor=20, five_yr_ann_eps_g_min=0.15, exp_trr__lb_floor = 0.06):
    """
    Filter DataFrame rows based on conditions applied to columns containing 'trr' or growth-related terms.

    Parameters:
    - df (DataFrame): The DataFrame to filter.
    - tr_floor (float): Minimum threshold for 'trr' columns.
    - eps_g_floor (float): Minimum threshold for EPS growth columns.
    - tr_pctl_floor (float): Percentile threshold for 'trr' columns.
    - eps_g_pctl_floor (float): Percentile threshold for EPS growth columns.
    - five_yr_ann_eps_g_min (float): Not used in this version, reserved for future conditions.

    Returns:
    - DataFrame: The filtered DataFrame.
    """
    
    # Filter columns matching the regex for 'trr'
    trr_cols = df.filter(regex='trr')
    for col in trr_cols.columns:
        # Compute the given percentile for each 'trr' column
        percentile = np.nanpercentile(df[col], tr_pctl_floor)
        
        # Create a mask to filter rows where each 'trr' column is either NaN or meets conditions
        mask = (df[col].isna()) | ((df[col] >= percentile) & (df[col] >= tr_floor))
        
        # Apply the mask to filter the DataFrame for each 'trr' column
        df = df[mask]

    # Filter columns matching the regex for 'eps' or 'earnings' combined with 'gr'
    eps_growth_cols = df.filter(regex='(gr.*eps|eps.*gr|gr.*earnings|earnings.*gr)')
    for col in eps_growth_cols.columns:
        # Compute the given percentile for each growth-related column
        percentile = np.nanpercentile(df[col], eps_g_pctl_floor)

        # Create a mask to filter rows where each column is either NaN or meets conditions
        mask = (df[col].isna()) | ((df[col] >= percentile) & (df[col] >= eps_g_floor))

        # Apply the mask to filter the DataFrame for each column
        df = df[mask]

    # Eliminate stocks that have a chance of performing below a threshold
    mask = (df["exp_ann_trr_lb"].isna()) | (df["exp_ann_trr_lb"] <= exp_trr__lb_floor)
     # Rank by total returns and select up to top 50
    df = df.sort_values(by = "exp_ann_trr", ascending = False)
    
    
    return df.head(50)

# Example usage
filtered_df = exclude(df)
filtered_df

,security_key,security_name,px_last,current_trr_ytd,cur_mkt_cap,current_trr_ytd_1,current_ann_trr_3yr,current_ann_trr_5yr,month_end_trr_10yr,minimum_total_return,hist_trr_prev_1yr,current_trr_mtd,eps_growth,geo_grow_diluted_eps_cont_ops,diluted_eps_cont_ops_5yr_avg_gr,5y_geo_growth_diluted_eps,earn_yld,pe_ratio,five_yr_avg_price_earnings,long_term_price_earnings_ratio,best_pe_ratio,pr_eps_growth_plus_yld,exp_geo_growth_diluted_eps,exp_pe_ratio,exp_pe_ratio_lb,exp_ann_trr,exp_ann_trr_lb
77,ANET US Equity,Arista Networks Inc,366.14,55.46687,1.147348e+11,55.46687,58.097220,40.39544,36.427448,NaN,94.07499,4.468159,53.061224,26.925057,36.606925,45.328895,1.957851,51.076409,37.389258,134.736412,45.807582,NaN,31.730226,79.494055,25.538205,0.409370,0.182790
121,CMG US Equity,Chipotle Mexican Grill Inc,62.75,37.19086,8.617867e+10,37.19086,25.770940,33.13963,18.025379,NaN,64.82714,0.159614,38.135068,39.558712,33.437781,47.690740,1.554399,64.333535,69.213358,140.556891,54.048234,NaN,33.383518,79.494055,32.166768,0.356195,0.177923
240,NVDA US Equity,NVIDIA Corp,125.83,154.12190,3.095418e+12,154.12190,84.915230,100.09750,75.716730,NaN,239.01910,1.853651,584.659091,51.441971,168.466403,48.401189,1.364966,73.261887,61.097322,366.074157,43.136784,42.817484,33.880832,79.494055,36.630944,0.327136,0.175603
233,NFLX US Equity,Netflix Inc,690.65,41.85221,2.976019e+11,41.85221,9.165439,12.90659,26.697997,NaN,65.11123,2.336715,21.287129,35.717224,55.071720,35.028725,2.079582,48.086579,54.528893,113.591968,36.005109,NaN,24.520107,61.827075,24.043289,0.311163,0.136240
128,CRWD US Equity,Crowdstrike Holdings Inc,389.68,52.62415,9.483277e+10,52.62415,13.933440,42.19223,NaN,NaN,142.49220,1.693674,NaN,NaN,NaN,NaN,0.141599,706.219642,NaN,NaN,92.891538,NaN,NaN,NaN,353.109821,0.295346,0.147673
246,PANW US Equity,Palo Alto Networks Inc,342.09,16.00990,1.107687e+11,16.00990,38.432470,37.31813,28.721846,NaN,111.32300,0.908524,NaN,NaN,NaN,NaN,0.738061,135.490148,NaN,NaN,58.158790,NaN,NaN,NaN,67.745074,0.261227,0.130613
80,APO US Equity,Apollo Global Management Inc,118.74,28.42796,6.756353e+10,28.42796,28.225950,31.96262,22.099673,NaN,49.43906,0.567458,NaN,NaN,NaN,NaN,7.822022,12.784418,NaN,41.982082,15.001895,16.475541,NaN,NaN,8.000000,0.223738,0.111869
228,MU US Equity,Micron Technology Inc,131.60,54.49203,1.459235e+11,54.49203,20.241700,27.08293,15.551304,NaN,71.92114,0.140651,NaN,NaN,NaN,NaN,-1.183558,NaN,NaN,29.174328,17.340888,32.289491,NaN,NaN,NaN,0.189581,0.094790
340,XLK US Equity,Technology Select Sector SPDR,232.88,21.40606,7.253185e+10,21.40606,16.810780,25.20144,20.971694,-6.27495,56.01636,2.939491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.176410,0.088205
238,NOW US Equity,ServiceNow Inc,806.47,14.15165,1.653264e+11,14.15165,12.883520,22.41872,29.015286,NaN,81.95843,2.516937,426.708075,NaN,NaN,426.708075,0.632123,158.197158,324.567049,1029.601673,57.490020,NaN,298.695652,79.494055,79.098579,0.167334,0.166404
323,VGT US Equity,Vanguard Information Technolog,595.91,23.57851,7.719874e+10,23.57851,14.782310,23.75562,20.879360,-6.75760,52.65349,3.350725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.166289,0.083145
105,BREN IJ Equity,Barito Renewables Energy Tbk P,10300.00,37.83897,1.377998e+15,37.83897,NaN,NaN,NaN,NaN,NaN,2.233251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,CEG US Equity,Constellation Energy Corp,211.29,81.40372,6.658190e+10,81.40372,NaN,NaN,NaN,NaN,37.23357,5.502566,NaN,NaN,NaN,NaN,3.288681,30.407327,NaN,NaN,27.440260,15.190596,NaN,NaN,15.203663,NaN,NaN
272,ROSN RM Equity,Rosneft Oil Co PJSC,556.15,NaN,5.894177e+12,NaN,NaN,NaN,14.568560,NaN,79.45911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.225822,NaN,NaN,NaN,NaN,NaN,NaN,NaN